* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   background: gray;
   color: black;
}

#Contenedor {
    width: 750px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
    border-width: 9px;
}

header {
   display: flex;
   height: 250px;
}

#banner {
   width: 500px;
   background: white;
   text-align: center;
   line-height: 200px;
   border: 3px solid;
   border-width: 9px; 
   border: 8px solid blue; /* Borde exterior negro */
   outline: 5px solid black; /* Borde interior azul */
   outline-offset: -3px;
   
}

#logo {
   
   width: 250px;
   background: white;
   text-align: center;
   line-height: 200px;
   border: 3px solid;
   border-width: 9px;
   border: 8px solid blue; /* Borde exterior negro */
   outline: 5px solid black; /* Borde interior azul */
   outline-offset: -3px;
}

nav {
    height: 50px;
    background: green;
    border: 3px solid;
    border-color: black;
    border-width: 6px;
}

main {
    display: flex;
    height: 400px;
    border: 3px solid;
    border-color: black;
    border-width: 9px;
}

#Article {
    width: 450px;
    background: white;
    text-align: center;
    line-height: 400px;
    border: 3px solid;
    border-color: gray;
    border-width: 5px;
}

aside {
    width: 300px;
    background: white;
    text-align: center;
    line-height: 400px;
    border: 3px solid;
    border-color: gray;
    border-width: 5px;
}

footer {
    height: 50px;
    background: orange;
    border: 3px solid;
    border-color: black;
    border-width: 6px;
}
